*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: pink;
}

a:-webkit-any-link {
  text-decoration: none;
}

/* -------------header--------------- */
.home {
  width: 100%;
  height: 12%;
}

nav {
  position: fixed;
  height: 12%;
  width: 100%;
  transition: all 1s;
  background-color: pink;
  }

.nav-links{
  border-bottom: 3px solid white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  display: flex;
  list-style: none;
  justify-content: space-around;
  height: 100%;
  width: 50%;
  align-items: center;
  text-decoration: none;
}

.nav-links a{
  color: white;
  font-weight: bold;
}

a:hover{
  opacity:0.33333;
  }

.forpadding{
  padding-left: 33px;
}

/* -------------home--------------- */
.home-img{
  background-color: black;
}

.home-img .home-p{
  color: white;
  text-align: center; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 500%;
  font-weight: bold;
  padding: 20%;
}

/* -------------content1--------------- */
.content1{
  height: 100%;
  width: 100%;
  background-color: rgb(185, 169, 185);
  padding: 115px;
  color: white;
  text-align: center;
  font-size: 150%;
  list-style: none;
}

.profile {
  font-weight: bold;
  padding: 15px;
  border-radius: 6px;
  border: 5px solid white;
}

.detail{
  border: 1px solid white;
  border-radius: 6px;
}  

/* -------------content2--------------- */
.content2{
  height: 100%;
  width: 100%;
  background-color: rgb(151, 140, 151);;
  padding: 115px;
  color: white;
  text-align: center;
  font-size: 150%;
  list-style: none;
  }

.contact {
  font-weight: bold;
  padding: 15px;
  border-radius: 6px;
  border: 5px solid white;
  }

.crowdworks{
  color: blue;
  }

/* -------------responsive--------------- */
@media screen and (max-width: 768px) {

.home-img .home-p{
  font-size: 400%;
  }

.line {
  background-color: white;
  width: 30px;
  height: 3px;
  margin: 5px;
  }

nav{
  position: relative;
  }

.hamburger{
  position: absolute;
  cursor: pointer;
  margin-top: 3%;
  left: 90%;
  z-index: 2;
  }

.forpadding{
  padding-left: 0px;
  }

.nav-links{
  position: fixed;  
  height: 100%;
  width: 100%; 
  flex-direction: column;
  clip-path: circle(10px at 92% 5%);  
  -webkit-clip-path: circle(10px at 92% 5%);
  transition: all 1.2s ease-in-out;
  }

.nav-links:hover{
  background-color: pink;
  }

.nav-links.open{
  background-color: pink;
  clip-path: circle(1200px at 80% 20%);  
  -webkit-clip-path: circle(1200px at 80% 20%);  
  }

.nav-links.close {
  display: block;
  opacity: 0;
  animation: hideAni .5s ease 0s 1 normal;
  }

.hamburger{
  position: fixed;
  }
